.movies__container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    margin: 70px auto;
}

.movies__button-more {
    width: 320px;
    height: 36px;
    border-radius: 6px;
    background: #F9F9F9;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-top: 60px;
}

.movies__button-more:hover {
    opacity: 0.8;
}

@media screen and (max-width: 1170px) {
    .movies__button-more {
        margin-top: 50px;
    }
}

@media screen and (max-width: 500px) {
    .movies__container {
        margin-top: 80px;
        margin-bottom: 90px;
    }

    .movies__button-more {
        margin-top: 65px;
        width: 240px;
    }
}