.landing {
    background-color: #f3c1f8;
    max-height: 524px;
    max-width: 1280px;
    background-image: url(../../images/pic_landing-logo.svg);
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-position: center;
    background-size: 320px 320px;
    object-fit: cover;
}

.landing__text {
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    box-sizing: border-box;
    max-width: 705px;
    margin: 184px auto 224px;

}

@media screen and (max-width: 800px) {
    .landing {
        max-height: 784px;
    }

    .landing__text {
        margin: 326px auto 342px;
    }

}