.project__container {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    max-height: 608px;
    margin: 0;
    margin-left: 70px;
    margin-right: 70px;
    box-sizing: border-box;
}

.project__text {
    font-weight: 400;
    font-size: 22px;
    line-height: normal;
    margin: 0;
    text-align: start;
    margin-top: 110px;
    margin-bottom: 23px;
    max-width: 600px;
}

.table {
    max-height: 160px;
    list-style: none;
    display: flex;
    box-sizing: border-box;
    border-top: 1px solid;
    margin: 0;
    padding: 0;
    margin-bottom: 110px;

}

.table__column {
    max-width: 550px;
    margin: 0;
    margin-right: 40px;

}

.table__column:last-child {
    margin-right: 0;
}

.table__heading {
    font-weight: 400;
    font-size: 20px;
    line-height: normal;
    margin: 0;
    margin-top: 70px;
    margin-bottom: 26px;
}

.table__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    box-sizing: border-box;
}

.deadline__table {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    list-style: none;
    margin: 0;
    margin-bottom: 110px;
    padding: 0;
}

.deadline__column {
    width: 20%;
    box-sizing: border-box;
    
}

.deadline__text {
    font-weight: 400;
    font-size: 14px;
    line-height: normal;
    margin: 0;
    text-align: center;
    box-sizing: border-box;
    padding-top: 9px;
    padding-bottom: 9px;
}

.deadline__text_black {
    background-color: #000000;
    color: #ffffff;
}

.deadline__text_grey {
    background: #F2F2F2;
}

.deadline__text_shadow {
    color: #A0A0A0;
    font-weight: 500;
    line-height: 17px;
}
.deadline__column_right {
    width: 80%;
}

@media screen and (max-width: 800px) {
    .project__container {
        margin-left: 50px;
        margin-right: 50px;
    }
    .project__text {
        margin-top: 90px;
    }

    .table__heading {
        margin-bottom: 20px;
    }
    .table {
        margin-bottom: 130px;
    }
    .deadline__table {
        margin-bottom: 85px;
    }
    .table__text {
        font-size: 12px;
        line-height: 18px;
    }


}